
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-iD3 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-nzjb-ESH {
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    flex-shrink: 0;
    margin-bottom: 11.3rem;
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;

    .logo-Jww {
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 44rem;
    }
    .login-rCm {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-PiV {
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
    }
    .login-wED {
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .about-us-Ujw {
    flex-shrink: 0;
    margin-left: 9.9rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-hqjx-o1X {
    box-sizing: border-box;
    padding: 8rem 10rem 17.2rem 9.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-25-Jys {
      height: 50rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0rem 0rem 8rem 0.1rem;
      width: 124rem;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-id-id-venenatis-ultrices-dolor-in-velit-elementum-arcu-sed-iaculis-donec-eleifend-eu-laoreet-netus-mi-sit-posuere-amet-odio-tellus-eget-volutpat-tellus-at-congue-amet-eu-amet-aliquet-eget-suscipit-sollicitudin-molestie-a-proin-nullam-elit-pellentesque-facilisis-auctor-tristique-nibh-eros-suscipit-sed-nullam-eget-odio-nisl-in-est-etiam-parturient-turpis-placerat-non-et-fames-sem-nunc-tortor-id-nulla-faucibus-sed-odio-vestibulum-facilisi-cras-sapien-elit-viverra-feugiat-egestas-erat-ornare-consectetur-nunc-dolor-viverra-eleifend-pulvinar-mi-convallis-malesuada-sollicitudin-sollicitudin-leo-enim-eget-id-ac-aenean-morbi-congue-tortor-neque-interdum-etiam-fringilla-arcu-elementum-molestie-eget-pulvinar-duis-integer-volutpat-mattis-tortor-eget-dolor-dui-cras-habitasse-fermentum-sem-elit-turpis-gravida-donec-velit-visi-consectetur-cursus-sit-in-duis-vel-vitae-convallis-sed-lacus-hendrerit-blandit-et-cras-pellentesque-turpis-rhoncus-felis-senectus-posuere-lobortis-ipsum-pellentesque-et-ac-quam-sed-sapien-auctor-sit-ut-phasellus-consectetur-lectus-scelerisque-facilisi-aliquet-viverra-non-praesent-nisl-pharetra-quisque-enim-ut-sed-nisl-misi-gravida-ac-egestas-eros-euismod-mauris-volutpat-in-quam-vulputate-rutrum-placerat-tristique-vestibulum-elit-vestibulum-montes-nisl-fusce-pulvinar-sed-a-fringilla-eros-massa-nunc-viverra-aenean-et-vitae-non-lacinia-arcu-facilisis-egestas-vitae-mollis-nisi-varius-ac-morbi-sollicitudin-semper-iaculis-dapibus-tellus-tincidunt-erat-posuere-nunc-urna-ornare-nunc-lectus-mauris-et-quis-pellentesque-sem-bxy {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 0.3rem;
      max-width: 123.8rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.5;

      .lorem-ipsum-dolor-sit-amet-consectetur-id-id-venenatis-ultrices-dolor-in-velit-elementum-arcu-sed-iaculis-donec-eleifend-eu-laoreet-netus-mi-sit-posuere-amet-odio-tellus-eget-volutpat-tellus-at-congue-amet-eu-amet-aliquet-eget-suscipit-sollicitudin-molestie-a-proin-nullam-elit-pellentesque-facilisis-auctor-tristique-nibh-eros-suscipit-sed-nullam-eget-odio-nisl-in-est-etiam-parturient-turpis-placerat-non-et-fames-sem-nunc-tortor-id-nulla-faucibus-sed-odio-vestibulum-facilisi-cras-sapien-elit-viverra-feugiat-egestas-erat-ornare-consectetur-nunc-dolor-viverra-eleifend-pulvinar-mi-convallis-malesuada-sollicitudin-sollicitudin-leo-enim-eget-id-ac-aenean-morbi-congue-tortor-neque-interdum-etiam-fringilla-arcu-elementum-molestie-eget-pulvinar-duis-integer-volutpat-mattis-tortor-eget-dolor-dui-cras-habitasse-fermentum-sem-elit-turpis-gravida-donec-velit-visi-consectetur-cursus-sit-in-duis-vel-vitae-convallis-sed-lacus-hendrerit-blandit-et-cras-pellentesque-turpis-rhoncus-felis-senectus-posuere-lobortis-ipsum-pellentesque-et-ac-quam-sed-sapien-auctor-sit-ut-phasellus-consectetur-lectus-scelerisque-facilisi-aliquet-viverra-non-praesent-nisl-pharetra-quisque-enim-ut-sed-nisl-misi-gravida-ac-egestas-eros-euismod-mauris-volutpat-in-quam-vulputate-rutrum-placerat-tristique-vestibulum-elit-vestibulum-montes-nisl-fusce-pulvinar-sed-a-fringilla-eros-massa-nunc-viverra-aenean-et-vitae-non-lacinia-arcu-facilisis-egestas-vitae-mollis-nisi-varius-ac-morbi-sollicitudin-semper-iaculis-dapibus-tellus-tincidunt-erat-posuere-nunc-urna-ornare-nunc-lectus-mauris-et-quis-pellentesque-sem-bxy-sub-0 {
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-id-id-venenatis-ultrices-dolor-in-velit-elementum-arcu-sed-iaculis-donec-eleifend-eu-laoreet-netus-mi-sit-posuere-amet-odio-tellus-eget-volutpat-tellus-at-congue-amet-eu-amet-aliquet-eget-suscipit-sollicitudin-molestie-a-proin-nullam-elit-pellentesque-facilisis-auctor-tristique-nibh-eros-suscipit-sed-nullam-eget-odio-nisl-in-est-etiam-parturient-turpis-placerat-non-et-fames-sem-nunc-tortor-id-nulla-faucibus-sed-odio-vestibulum-facilisi-cras-sapien-elit-viverra-feugiat-egestas-erat-ornare-consectetur-nunc-dolor-viverra-eleifend-pulvinar-mi-convallis-malesuada-sollicitudin-sollicitudin-leo-enim-eget-id-ac-aenean-morbi-congue-tortor-neque-interdum-etiam-fringilla-arcu-elementum-molestie-eget-pulvinar-duis-integer-volutpat-mattis-tortor-eget-dolor-dui-cras-habitasse-fermentum-sem-elit-turpis-gravida-donec-velit-visi-consectetur-cursus-sit-in-duis-vel-vitae-convallis-sed-lacus-hendrerit-blandit-et-cras-pellentesque-turpis-rhoncus-felis-senectus-posuere-lobortis-ipsum-pellentesque-et-ac-quam-sed-sapien-auctor-sit-ut-phasellus-consectetur-lectus-scelerisque-facilisi-aliquet-viverra-non-praesent-nisl-pharetra-quisque-enim-ut-sed-nisl-misi-gravida-ac-egestas-eros-euismod-mauris-volutpat-in-quam-vulputate-rutrum-placerat-tristique-vestibulum-elit-vestibulum-montes-nisl-fusce-pulvinar-sed-a-fringilla-eros-massa-nunc-viverra-aenean-et-vitae-non-lacinia-arcu-facilisis-egestas-vitae-mollis-nisi-varius-ac-morbi-sollicitudin-semper-iaculis-dapibus-tellus-tincidunt-erat-posuere-nunc-urna-ornare-nunc-lectus-mauris-et-quis-pellentesque-sem-bxy-sub-1 {
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-id-id-venenatis-ultrices-dolor-in-velit-elementum-arcu-sed-iaculis-donec-eleifend-eu-laoreet-netus-mi-sit-posuere-amet-odio-tellus-eget-volutpat-tellus-at-congue-amet-eu-amet-aliquet-eget-suscipit-sollicitudin-molestie-a-proin-nullam-elit-pellentesque-facilisis-auctor-tristique-nibh-eros-suscipit-sed-nullam-eget-odio-nisl-in-est-etiam-parturient-turpis-placerat-non-et-fames-sem-nunc-tortor-id-nulla-faucibus-sed-odio-vestibulum-facilisi-cras-sapien-elit-viverra-feugiat-egestas-erat-ornare-consectetur-nunc-dolor-viverra-eleifend-pulvinar-mi-convallis-malesuada-sollicitudin-sollicitudin-leo-enim-eget-id-ac-aenean-morbi-congue-tortor-neque-interdum-etiam-fringilla-arcu-elementum-molestie-eget-pulvinar-duis-integer-volutpat-mattis-tortor-eget-dolor-dui-cras-habitasse-fermentum-sem-elit-turpis-gravida-donec-velit-visi-consectetur-cursus-sit-in-duis-vel-vitae-convallis-sed-lacus-hendrerit-blandit-et-cras-pellentesque-turpis-rhoncus-felis-senectus-posuere-lobortis-ipsum-pellentesque-et-ac-quam-sed-sapien-auctor-sit-ut-phasellus-consectetur-lectus-scelerisque-facilisi-aliquet-viverra-non-praesent-nisl-pharetra-quisque-enim-ut-sed-nisl-misi-gravida-ac-egestas-eros-euismod-mauris-volutpat-in-quam-vulputate-rutrum-placerat-tristique-vestibulum-elit-vestibulum-montes-nisl-fusce-pulvinar-sed-a-fringilla-eros-massa-nunc-viverra-aenean-et-vitae-non-lacinia-arcu-facilisis-egestas-vitae-mollis-nisi-varius-ac-morbi-sollicitudin-semper-iaculis-dapibus-tellus-tincidunt-erat-posuere-nunc-urna-ornare-nunc-lectus-mauris-et-quis-pellentesque-sem-bxy-sub-2 {
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-id-id-venenatis-ultrices-dolor-in-velit-elementum-arcu-sed-iaculis-donec-eleifend-eu-laoreet-netus-mi-sit-posuere-amet-odio-tellus-eget-volutpat-tellus-at-congue-amet-eu-amet-aliquet-eget-suscipit-sollicitudin-molestie-a-proin-nullam-elit-pellentesque-facilisis-auctor-tristique-nibh-eros-suscipit-sed-nullam-eget-odio-nisl-in-est-etiam-parturient-turpis-placerat-non-et-fames-sem-nunc-tortor-id-nulla-faucibus-sed-odio-vestibulum-facilisi-cras-sapien-elit-viverra-feugiat-egestas-erat-ornare-consectetur-nunc-dolor-viverra-eleifend-pulvinar-mi-convallis-malesuada-sollicitudin-sollicitudin-leo-enim-eget-id-ac-aenean-morbi-congue-tortor-neque-interdum-etiam-fringilla-arcu-elementum-molestie-eget-pulvinar-duis-integer-volutpat-mattis-tortor-eget-dolor-dui-cras-habitasse-fermentum-sem-elit-turpis-gravida-donec-velit-visi-consectetur-cursus-sit-in-duis-vel-vitae-convallis-sed-lacus-hendrerit-blandit-et-cras-pellentesque-turpis-rhoncus-felis-senectus-posuere-lobortis-ipsum-pellentesque-et-ac-quam-sed-sapien-auctor-sit-ut-phasellus-consectetur-lectus-scelerisque-facilisi-aliquet-viverra-non-praesent-nisl-pharetra-quisque-enim-ut-sed-nisl-misi-gravida-ac-egestas-eros-euismod-mauris-volutpat-in-quam-vulputate-rutrum-placerat-tristique-vestibulum-elit-vestibulum-montes-nisl-fusce-pulvinar-sed-a-fringilla-eros-massa-nunc-viverra-aenean-et-vitae-non-lacinia-arcu-facilisis-egestas-vitae-mollis-nisi-varius-ac-morbi-sollicitudin-semper-iaculis-dapibus-tellus-tincidunt-erat-posuere-nunc-urna-ornare-nunc-lectus-mauris-et-quis-pellentesque-sem-bxy-sub-3 {
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-id-id-venenatis-ultrices-dolor-in-velit-elementum-arcu-sed-iaculis-donec-eleifend-eu-laoreet-netus-mi-sit-posuere-amet-odio-tellus-eget-volutpat-tellus-at-congue-amet-eu-amet-aliquet-eget-suscipit-sollicitudin-molestie-a-proin-nullam-elit-pellentesque-facilisis-auctor-tristique-nibh-eros-suscipit-sed-nullam-eget-odio-nisl-in-est-etiam-parturient-turpis-placerat-non-et-fames-sem-nunc-tortor-id-nulla-faucibus-sed-odio-vestibulum-facilisi-cras-sapien-elit-viverra-feugiat-egestas-erat-ornare-consectetur-nunc-dolor-viverra-eleifend-pulvinar-mi-convallis-malesuada-sollicitudin-sollicitudin-leo-enim-eget-id-ac-aenean-morbi-congue-tortor-neque-interdum-etiam-fringilla-arcu-elementum-molestie-eget-pulvinar-duis-integer-volutpat-mattis-tortor-eget-dolor-dui-cras-habitasse-fermentum-sem-elit-turpis-gravida-donec-velit-visi-consectetur-cursus-sit-in-duis-vel-vitae-convallis-sed-lacus-hendrerit-blandit-et-cras-pellentesque-turpis-rhoncus-felis-senectus-posuere-lobortis-ipsum-pellentesque-et-ac-quam-sed-sapien-auctor-sit-ut-phasellus-consectetur-lectus-scelerisque-facilisi-aliquet-viverra-non-praesent-nisl-pharetra-quisque-enim-ut-sed-nisl-misi-gravida-ac-egestas-eros-euismod-mauris-volutpat-in-quam-vulputate-rutrum-placerat-tristique-vestibulum-elit-vestibulum-montes-nisl-fusce-pulvinar-sed-a-fringilla-eros-massa-nunc-viverra-aenean-et-vitae-non-lacinia-arcu-facilisis-egestas-vitae-mollis-nisi-varius-ac-morbi-sollicitudin-semper-iaculis-dapibus-tellus-tincidunt-erat-posuere-nunc-urna-ornare-nunc-lectus-mauris-et-quis-pellentesque-sem-bxy-sub-4 {
      }
    }
  }
  .auto-group-lq4k-sCy {
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .auto-group-b2bv-mZF {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 24.4rem;
      height: 10.3rem;

      .rectangle-19-ggD {
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
      .auto-group-9jf1-zgu {
        flex-shrink: 0;
        width: 11.8rem;
        height: 100%;

        .follow-us-wc9 {
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-e5js-rUD {
          width: 100%;
          display: flex;
          align-items: center;

          .rectangle-15-oeM {
            margin-right: 2rem;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
          .rectangle-16-LuB {
            flex-shrink: 0;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
          }
        }
      }
      .auto-group-8ctd-tA1 {
        box-sizing: border-box;
        padding-left: 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rectangle-17-cLu {
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
          margin-right: 19.2rem;
        }
        .auto-group-15ib-YEZ {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          display: flex;
          flex-direction: column;

          .about-us-61B {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .faq-pxm {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-rsbm-Mxh {
      margin: 0rem 21.7rem 2.9rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-gzy {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .auto-group-mxfv-1GZ {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2rem 19.2rem 0rem 0rem;

        .call-us-K2M {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .item-085762382649-3U9 {
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-9wwu-Aof {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0.3rem;
        display: flex;

        .privacy-iqB {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
        }
        .contact-us-fEd {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 500;
        }
      }
    }
    .line-1-PgR {
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-brjb-76d {
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-1Su {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .lorem-ipsum-dolor-sit-amet-YBw {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
