
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.artikel-tJ9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-nayk-2v9 {
    background-color: #b1b1b1;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;
    display: flex;
    align-items: center;

    .logo-ZQH {
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-G3o {
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
    }
    .login-QQu {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-kDs {
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      width: 17.4rem;
    }
  }
  .auto-group-xruo-D7T {
    width: 100%;
    height: 193.6rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-mnck-Xdw {
      display: flex;
      align-items: center;
      width: 124.1rem;
      height: 2.8rem;
      position: absolute;
      left: 9.9rem;
      top: 23.4rem;

      .login-quX {
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-zGd {
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-X1f {
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
      }
      .login-ftZ {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
      }
      .login-DQH {
        flex-shrink: 0;
        margin-right: 32.7rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
      }
      .login-ZDF {
        width: 19.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-nmy7-JwX {
      width: 124.1rem;
      height: 6rem;
      position: absolute;
      left: 9.9rem;
      top: 11.3rem;
      display: flex;
      align-items: center;

      .artikel-F65 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 68.6rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .master-input-text-yXs {
        padding: 1.4rem 2.4rem 1.4rem 2.4rem;
        width: 41.9rem;
        height: calc(100% - 1.4rem);
        background-color: #f2f1f9;
        border-radius: 5rem;
        flex-shrink: 0;
        margin: 0.7rem 0;
        box-sizing: border-box;

        .text-icons-3Gq {
          align-items: center;
          box-sizing: border-box;
          padding-right: 0.15rem;
          width: 100%;
          height: 100%;
          display: flex;

          .input-content-zSy {
            line-height: 1.125;
            color: #767393;
            flex-shrink: 0;
            width: 4.4rem;
            font-weight: 400;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin-right: 31.05rem;
            height: 100%;
            text-align: center;
            font-size: 1.6rem;
            display: flex;
          }
          .line-rounded-search-VPj {
            width: 1.5001rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0541rem;
          }
        }
      }
    }
    .lorem-ipsum-ntd {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 16.1rem;
      height: 3.6rem;
      position: absolute;
      left: 10.9rem;
      top: 35.4rem;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.5;
      white-space: nowrap;
    }
    .lorem-ipsum-twf {
      left: 10.9rem;
      top: 65.7rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 16.1rem;
      height: 3.6rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
    }
    .lorem-ipsum-DDF {
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      height: 3.6rem;
      left: 10.9rem;
      top: 96rem;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      width: 16.1rem;
      position: absolute;
    }
    .lorem-ipsum-JVb {
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      width: 16.1rem;
      font-size: 2.4rem;
      left: 10.9rem;
      top: 126.3rem;
      font-family: Poppins, 'Source Sans Pro';
      height: 3.6rem;
      position: absolute;
    }
    .lorem-ipsum-pD3 {
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 10.9rem;
      top: 156.6rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #000000;
      width: 16.1rem;
      height: 3.6rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .auto-group-xo7r-6RT {
      position: absolute;
      left: 10.9rem;
      top: 39rem;
      display: flex;
      align-items: center;
      width: 16.1rem;
      height: 3.5rem;

      .rectangle-32-Qww {
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .sandya-naufal-wws {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-hmhm-gPf {
      left: 10.9rem;
      top: 69.3rem;
      display: flex;
      align-items: center;
      width: 16.1rem;
      height: 3.5rem;
      position: absolute;

      .rectangle-33-azq {
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .sandya-naufal-6CV {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
      }
    }
    .auto-group-9rgx-RkZ {
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;
      top: 99.6rem;
      display: flex;
      align-items: center;
      width: 16.1rem;

      .rectangle-34-Zbs {
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 3.5rem;
      }
      .sandya-naufal-JpM {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-9bjr-3G9 {
      width: 16.1rem;
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;
      top: 129.9rem;
      display: flex;
      align-items: center;

      .rectangle-35-aWy {
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .sandya-naufal-vqj {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .auto-group-6aaf-rDb {
      top: 160.2rem;
      display: flex;
      align-items: center;
      width: 16.1rem;
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;

      .rectangle-36-Bmf {
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .sandya-naufal-LPf {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .auto-group-x4p3-3Yy {
      width: 122.2328rem;
      height: 12rem;
      position: absolute;
      left: 10.9rem;
      top: 43.1rem;
      display: flex;
      align-items: center;

      .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-NLM {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 12.1672rem;
        max-width: 104.9rem;
      }
      .ph-heart-bold-KQ1 {
        width: 5.1656rem;
        height: 4.4532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3001rem;
      }
    }
    .auto-group-qk4b-2ZK {
      width: 122.2328rem;
      height: 12rem;
      position: absolute;
      left: 10.9rem;
      top: 73.4rem;
      display: flex;
      align-items: center;

      .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-AQd {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 12.1672rem;
        max-width: 104.9rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .ph-heart-bold-k7w {
        width: 5.1656rem;
        height: 4.4532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3001rem;
      }
    }
    .auto-group-curb-5g1 {
      align-items: center;
      width: 122.2328rem;
      height: 12rem;
      position: absolute;
      left: 10.9rem;
      top: 103.7rem;
      display: flex;

      .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-oru {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 12.1672rem;
        max-width: 104.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .ph-heart-bold-nyj {
        margin-top: 0.3001rem;
        width: 5.1656rem;
        height: 4.4532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-ggaf-7m7 {
      width: 122.2328rem;
      height: 12rem;
      position: absolute;
      left: 10.9rem;
      top: 134rem;
      display: flex;
      align-items: center;

      .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-T4H {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 12.1672rem;
        max-width: 104.9rem;
        font-size: 2rem;
      }
      .ph-heart-bold-2Fo {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3001rem;
        width: 5.1656rem;
        height: 4.4532rem;
      }
    }
    .auto-group-gt9m-vry {
      left: 10.9rem;
      top: 164.3rem;
      display: flex;
      align-items: center;
      width: 122.2328rem;
      height: 12rem;
      position: absolute;

      .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-4TP {
        flex-shrink: 0;
        margin-right: 12.1672rem;
        max-width: 104.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .ph-heart-bold-2Yd {
        flex-shrink: 0;
        margin-top: 0.3001rem;
        width: 5.1656rem;
        height: 4.4532rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .line-2-mFK {
      top: 61.8rem;
      background-color: #000000;
      width: 124.1rem;
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
    }
    .line-3-frV {
      width: 124.1rem;
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 92.1rem;
      background-color: #000000;
    }
    .line-4-1QZ {
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 122.4rem;
      background-color: #000000;
      width: 124.1rem;
    }
    .line-5-YfP {
      width: 124.1rem;
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 152.7rem;
      background-color: #000000;
    }
    .line-6-gmb {
      position: absolute;
      left: 9.9rem;
      top: 183rem;
      background-color: #000000;
      width: 124.1rem;
      height: 0.1rem;
    }
  }
  .auto-group-ci5h-Pvu {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;

    .auto-group-mgm1-vA9 {
      margin-right: 24.4rem;
      height: 10.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-19-Tfs {
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
      .auto-group-xyix-Zyo {
        width: 11.8rem;
        height: 100%;
        flex-shrink: 0;

        .follow-us-vJZ {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
        }
        .auto-group-qvns-rxu {
          width: 100%;
          display: flex;
          align-items: center;

          .rectangle-15-RWD {
            margin-right: 2rem;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
          .rectangle-16-wzM {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-jj2k-J4D {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2rem;

        .rectangle-17-Sw7 {
          margin-right: 19.2rem;
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
        }
        .auto-group-ed3y-CQV {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          display: flex;
          flex-direction: column;

          .about-us-MYH {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .faq-u41 {
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-qxym-3AD {
      margin: 0rem 21.7rem 2.9rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-Mgh {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .auto-group-aeyb-4LD {
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .call-us-Q9B {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
        }
        .item-085762382649-wuo {
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-dpm5-5m7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0.3rem;

        .privacy-eJR {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .contact-us-aSy {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
        }
      }
    }
    .line-1-tCm {
      background-color: #000000;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
    }
    .auto-group-k587-dRF {
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-9uP {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .lorem-ipsum-dolor-sit-amet-HVo {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
      }
    }
  }
}
