
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-JTf {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-zsif-bxZ {
    background-color: #b1b1b1;
    flex-shrink: 0;
    margin-bottom: 11.3rem;
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;
    display: flex;
    align-items: center;

    .logo-inH {
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
    }
    .login-G37 {
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
    }
    .login-ooj {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-KGH {
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .contact-us-GBX {
    margin: 0rem 0rem 8rem 9.9rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-qvgw-aCD {
    box-sizing: border-box;
    padding: 4.2rem 5.1rem 2.5rem 5.4rem;
    align-items: center;
    background-color: #d9d9d9;
    margin: 0rem 10rem 16.3rem 10rem;
    width: calc(100% - 20rem);
    height: 70.1rem;
    display: flex;
    flex-shrink: 0;

    .auto-group-u9mv-2pu {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 10.8rem;
      width: 55.6rem;
      height: 100%;

      .auto-group-3qud-N85 {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.8rem;
        width: 100%;
        display: flex;

        .name-WEH {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .rectangle-26-3V7 {
          margin-bottom: 1.8rem;
          width: 37.9rem;
          height: 5.6rem;
          background-color: #929292;
          flex-shrink: 0;
        }
        .email-nBo {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
        }
        .rectangle-27-7Uy {
          margin-bottom: 1.9rem;
          width: 37.9rem;
          height: 5.6rem;
          background-color: #929292;
          flex-shrink: 0;
        }
        .message-G6y {
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .rectangle-28-BUq {
        flex-shrink: 0;
        margin-bottom: 6.6rem;
        width: 100%;
        height: 20.1rem;
        background-color: #929292;
      }
      .frame-2-7NV {
        font-weight: 700;
        color: #ffffff;
        display: flex;
        align-items: center;
        line-height: 1.5;
        background-color: #929292;
        width: calc(100% - 34.4rem);
        font-size: 2.5rem;
        white-space: nowrap;
        justify-content: center;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0 17.2rem;
        height: 4.9rem;
        overflow: hidden;
        position: relative;
      }
    }
    .rectangle-29-B7T {
      margin-bottom: 1.5rem;
      width: 47.1rem;
      height: 61.9rem;
      background-color: #444444;
      flex-shrink: 0;
    }
  }
  .auto-group-sjdd-WQd {
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-cacj-qC1 {
      flex-shrink: 0;
      margin-right: 24.4rem;
      height: 10.3rem;
      display: flex;
      align-items: flex-start;

      .rectangle-19-NBw {
        height: 7rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
      }
      .auto-group-44z1-JLV {
        width: 11.8rem;
        height: 100%;
        flex-shrink: 0;

        .follow-us-33B {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .auto-group-lqsm-B9P {
          width: 100%;
          display: flex;
          align-items: center;

          .rectangle-15-8qK {
            margin-right: 2rem;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
          .rectangle-16-gbw {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-4fyo-DLy {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2rem;

        .rectangle-17-MCH {
          margin-right: 19.2rem;
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
        }
        .auto-group-vxxp-fim {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          display: flex;

          .about-us-zm3 {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .faq-vub {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 500;
          }
        }
      }
    }
    .auto-group-ktwm-GCm {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 21.7rem 2.9rem 0rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-PYH {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
        max-width: 34.6rem;
        font-size: 2.5rem;
      }
      .auto-group-82gs-W77 {
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .call-us-vgd {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
        }
        .item-085762382649-FD7 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-an19-kff {
        flex-shrink: 0;
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;

        .privacy-Vt9 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .contact-us-SoP {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
        }
      }
    }
    .line-1-y2d {
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
    }
    .auto-group-sshv-WoF {
      width: calc(100% - 15.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.6rem 0rem 7.8rem;

      .lorem-ipsum-dolor-sit-amet-r6R {
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .lorem-ipsum-dolor-sit-amet-ywj {
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
