
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.forum-diskusi-nH3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-buhd-861 {
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    flex-shrink: 0;

    .logo-f5w {
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-oT3 {
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
    }
    .login-9mo {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-W6Z {
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .auto-group-tedy-rAR {
    width: 100%;
    height: 184.6rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-rkub-uuP {
      width: 19.3rem;
      height: 2.8rem;
      position: absolute;
      left: 10.9rem;
      top: 57.1rem;
      display: flex;
      column-gap: 1.7rem;
      align-items: center;

      .login-pFf {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 5.3rem;
        height: 2.8rem;
      }
      .login-xsf {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-Yay {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-kfpf-HoT {
      width: 19.3rem;
      height: 2.8rem;
      position: absolute;
      left: 10.9rem;
      top: 85.4rem;
      display: flex;
      column-gap: 1.7rem;
      align-items: center;

      .login-cqj {
        flex-shrink: 0;
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
      }
      .login-Na1 {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-uZw {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-nc7d-rk5 {
      display: flex;
      column-gap: 1.7rem;
      align-items: center;
      width: 19.3rem;
      height: 2.8rem;
      position: absolute;
      left: 10.9rem;
      top: 113.7rem;

      .login-ag5 {
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 5.3rem;
      }
      .login-9DP {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-5sj {
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 5.3rem;
      }
    }
    .auto-group-d787-eA9 {
      position: absolute;
      left: 10.9rem;
      top: 142rem;
      display: flex;
      column-gap: 1.7rem;
      align-items: center;
      width: 19.3rem;
      height: 2.8rem;

      .login-mkZ {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-v7f {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-U9B {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-4tbh-dGy {
      width: 19.3rem;
      height: 2.8rem;
      position: absolute;
      left: 10.9rem;
      top: 170.3rem;
      display: flex;
      column-gap: 1.7rem;
      align-items: center;

      .login-MTs {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-ukH {
        width: 5.3rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-exm {
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 5.3rem;
      }
    }
    .auto-group-ku7m-CzH {
      width: 109.2rem;
      height: 2.8rem;
      position: absolute;
      left: 24.8rem;
      top: 23.4rem;
      display: flex;
      align-items: center;

      .login-WVB {
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-row {
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-PJ5 {
        margin-right: 2.5rem;
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .login-Xv5 {
        width: 12.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-right: 32.7rem;
      }
      .login-UqK {
        width: 19.4rem;
        height: 2.8rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-ltqt-qA5 {
      top: 11.3rem;
      display: flex;
      align-items: center;
      width: 124.1rem;
      height: 6rem;
      position: absolute;
      left: 9.9rem;

      .forum-diskusi-mJd {
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 53rem;
        font-size: 4rem;
      }
      .master-input-text-sMf {
        flex-shrink: 0;
        margin: 0.7rem 0;
        box-sizing: border-box;
        padding: 1.4rem 2.4rem 1.4rem 2.4rem;
        width: 41.9rem;
        height: calc(100% - 1.4rem);
        background-color: #f2f1f9;
        border-radius: 5rem;

        .text-icons-yfb {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding-right: 0.15rem;
          width: 100%;
          height: 100%;

          .input-content-it5 {
            width: 4.4rem;
            text-align: center;
            margin-right: 31.05rem;
            line-height: 1.125;
            font-family: DM Sans, 'Source Sans Pro';
            align-items: center;
            font-weight: 400;
            color: #767393;
            justify-content: center;
            flex-shrink: 0;
            font-size: 1.6rem;
            white-space: nowrap;
            display: flex;
            height: 100%;
          }
          .line-rounded-search-ciZ {
            margin-bottom: 0.0541rem;
            width: 1.5001rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .lorem-ipsum-L8m {
      left: 10.9rem;
      top: 39.2rem;
      font-weight: 700;
      color: #000000;
      width: 16.1rem;
      position: absolute;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.6rem;
      font-size: 2.4rem;
    }
    .lorem-ipsum-qbK {
      top: 67.5rem;
      font-size: 2.4rem;
      line-height: 1.5;
      white-space: nowrap;
      width: 16.1rem;
      left: 10.9rem;
      font-weight: 700;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      height: 3.6rem;
      position: absolute;
    }
    .lorem-ipsum-Vvm {
      width: 16.1rem;
      height: 3.6rem;
      font-weight: 700;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 10.9rem;
      top: 95.8rem;
      font-size: 2.4rem;
      line-height: 1.5;
    }
    .lorem-ipsum-PmF {
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 10.9rem;
      top: 124.1rem;
      font-weight: 700;
      line-height: 1.5;
      width: 16.1rem;
      height: 3.6rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
    }
    .lorem-ipsum-uDo {
      height: 3.6rem;
      left: 10.9rem;
      top: 152.4rem;
      font-weight: 700;
      width: 16.1rem;
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-bguj-23X {
      top: 35.4rem;
      display: flex;
      align-items: center;
      width: 16.1rem;
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;

      .rectangle-32-kER {
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
      }
      .sandya-naufal-gtm {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
      }
    }
    .auto-group-xpxz-pk5 {
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;
      top: 63.7rem;
      display: flex;
      align-items: center;
      width: 16.1rem;

      .rectangle-33-LiR {
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
      }
      .sandya-naufal-tV3 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .auto-group-ouud-DnD {
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;
      top: 92rem;
      display: flex;
      align-items: center;
      width: 16.1rem;

      .rectangle-34-kn9 {
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .sandya-naufal-5pR {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .auto-group-a3tw-nyj {
      position: absolute;
      left: 10.9rem;
      top: 120.3rem;
      display: flex;
      align-items: center;
      width: 16.1rem;
      height: 3.5rem;

      .rectangle-35-8Gu {
        margin-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .sandya-naufal-qx1 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
    }
    .auto-group-uacb-n6Z {
      height: 3.5rem;
      position: absolute;
      left: 10.9rem;
      top: 148.6rem;
      display: flex;
      align-items: center;
      width: 16.1rem;

      .rectangle-36-iW1 {
        height: 3.5rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 3.5rem;
      }
      .sandya-naufal-4Zs {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-Ps3 {
      line-height: 1.5;
      width: 104.9rem;
      height: 12rem;
      position: absolute;
      left: 10.9rem;
      top: 43.1rem;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-MSV {
      font-size: 2rem;
      color: #000000;
      width: 104.9rem;
      position: absolute;
      left: 10.9rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      height: 12rem;
      top: 71.4rem;
      font-weight: 400;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-igM {
      width: 104.9rem;
      height: 12rem;
      font-weight: 400;
      line-height: 1.5;
      position: absolute;
      left: 10.9rem;
      top: 99.7rem;
      font-size: 2rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-3MF {
      line-height: 1.5;
      color: #000000;
      width: 104.9rem;
      height: 12rem;
      left: 10.9rem;
      font-weight: 400;
      position: absolute;
      top: 128rem;
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-DQ9 {
      color: #000000;
      width: 104.9rem;
      height: 12rem;
      position: absolute;
      left: 10.9rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      top: 156.3rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .line-2-M8y {
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 61.8rem;
      background-color: #000000;
      width: 124.1rem;
    }
    .line-3-sND {
      width: 124.1rem;
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 90.1rem;
      background-color: #000000;
    }
    .line-4-p2Z {
      top: 118.4rem;
      background-color: #000000;
      width: 124.1rem;
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
    }
    .line-5-YUM {
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 146.7rem;
      background-color: #000000;
      width: 124.1rem;
    }
    .line-6-5jB {
      width: 124.1rem;
      height: 0.1rem;
      position: absolute;
      left: 9.9rem;
      top: 175rem;
      background-color: #000000;
    }
  }
  .auto-group-zhak-bhX {
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .auto-group-qe3v-uy7 {
      height: 10.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 24.4rem;

      .rectangle-19-TDw {
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
      .auto-group-k8jm-yxy {
        height: 100%;
        flex-shrink: 0;
        width: 11.8rem;

        .follow-us-LYd {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
        }
        .auto-group-r58o-Gx5 {
          align-items: center;
          width: 100%;
          display: flex;

          .rectangle-15-Ee1 {
            margin-right: 2rem;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
          .rectangle-16-uk9 {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-5ibm-rQV {
        box-sizing: border-box;
        padding-left: 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rectangle-17-QS1 {
          margin-right: 19.2rem;
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
        }
        .auto-group-gyzs-Z41 {
          margin-bottom: 1.2rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .about-us-75X {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .faq-FBj {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 500;
          }
        }
      }
    }
    .auto-group-vld9-z9K {
      margin: 0rem 21.7rem 2.9rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-6TF {
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
      }
      .auto-group-xezx-pPF {
        flex-direction: column;
        flex-shrink: 0;
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;

        .call-us-Mty {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
        }
        .item-085762382649-77T {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
        }
      }
      .auto-group-f1kh-cpu {
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .privacy-mSu {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .contact-us-i7F {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .line-1-EbP {
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-jvvm-BmX {
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-vDK {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 48.3rem;
        font-size: 2.5rem;
      }
      .lorem-ipsum-dolor-sit-amet-SxM {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
      }
    }
  }
}
