
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-3nu {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-faur-zCM {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 10rem;

    .logo-hcZ {
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-dm7 {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-Zem {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-uyX {
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .auto-group-tnsv-3K3 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.9rem 10rem 29.8rem 10rem;
    width: 100%;
    display: flex;

    .auto-group-p19m-MKj {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 15.7rem;
      box-sizing: border-box;
      padding: 11.4rem 12.6rem 15rem 12.6rem;

      .deskripsi-singkat-GBo {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.8rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-BpZ {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 6.1rem;
        max-width: 51.8rem;
        font-size: 2.5rem;
        font-weight: 400;
      }
      .auto-group-tdmd-4dT {
        align-items: flex-end;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .auto-group-k8dh-pMj {
          margin: 0rem 2rem 0.9rem 0rem;
          width: 18.7rem;
          flex-shrink: 0;

          .lorem-ipsum-MMf {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 3rem;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
          }
          .auto-group-jgjv-Fhw {
            display: flex;
            column-gap: 2rem;
            align-items: center;
            width: 100%;

            .rectangle-15-1BK {
              width: 4.9rem;
              height: 4.9rem;
              background-color: #6e6e6e;
              flex-shrink: 0;
            }
            .rectangle-16-9oK {
              background-color: #6e6e6e;
              flex-shrink: 0;
              width: 4.9rem;
              height: 4.9rem;
            }
            .rectangle-17-hCZ {
              width: 4.9rem;
              height: 4.9rem;
              background-color: #6e6e6e;
              flex-shrink: 0;
            }
          }
        }
        .rectangle-18-qZf {
          flex-shrink: 0;
          margin: 0rem 37.4rem 0.9rem 0rem;
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
        }
        .buy-now-NJh {
          width: 35.8rem;
          height: 11.7rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
        }
      }
    }
    .data-kemiskinan-hrm {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 5.5rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-nmum-ouo {
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0rem 5.3rem 8.4rem 6.5rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;
      width: calc(100% - 11.8rem);

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-uT3 {
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .buy-now-a3P {
        background-color: #6e6e6e;
        flex-shrink: 0;
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
      }
    }
    .faktor-kemiskinan-JVB {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 6.5rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
    }
    .auto-group-qrbd-RZo {
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0rem 5.3rem 8.4rem 6.5rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;
      width: calc(100% - 11.8rem);

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-8UD {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
      .buy-now-xi9 {
        flex-shrink: 0;
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
        background-color: #6e6e6e;
      }
    }
    .dampak-kemiskinan-FBT {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 6.5rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-zyiw-m9o {
      width: calc(100% - 11.8rem);
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0rem 5.3rem 8.4rem 6.5rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-fW5 {
        flex-shrink: 0;
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .buy-now-k1j {
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
    }
    .mari-diskusi-UiR {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 6.5rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-zfnt-cJq {
      margin: 0rem 5.3rem 0rem 6.5rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;
      width: calc(100% - 11.8rem);
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-KDF {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
      }
      .buy-now-aey {
        background-color: #6e6e6e;
        flex-shrink: 0;
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
      }
    }
  }
  .auto-group-uwpb-iFP {
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .auto-group-khns-RvV {
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 24.4rem;
      height: 10.3rem;
      display: flex;

      .rectangle-19-ySD {
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
      .auto-group-pnqk-JUV {
        flex-shrink: 0;
        width: 11.8rem;
        height: 100%;

        .follow-us-Rp1 {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
        }
        .auto-group-fxmu-Z9X {
          width: 100%;
          display: flex;
          align-items: center;

          .rectangle-15-SDK {
            margin-right: 2rem;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
          .rectangle-16-mmP {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-bmrj-7qF {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2rem;
        height: 100%;
        display: flex;

        .rectangle-17-4kV {
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
          margin-right: 19.2rem;
          width: 4.9rem;
        }
        .auto-group-sqdv-QJZ {
          margin-bottom: 1.2rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .about-us-MUh {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
          }
          .faq-J93 {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-ryt7-1p9 {
      margin: 0rem 18.4rem 2.9rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-Yp5 {
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
      }
      .auto-group-uuws-Egu {
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .call-us-NYD {
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
        }
        .item-085762382649-tmT {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
        }
      }
      .auto-group-5typ-pf7 {
        flex-shrink: 0;
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;

        .privacy-policy-Ngd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .contact-us-Gn1 {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }
    .line-1-p2q {
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-zz5d-kx5 {
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-tHb {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .lorem-ipsum-dolor-sit-amet-pS9 {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
