
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.kisah-sukses-one-3x1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-gcpb-aS9 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #b1b1b1;

    .logo-J7F {
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-EWh {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-mmX {
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
    }
    .login-KY9 {
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .auto-group-t8af-s3s {
    padding: 9.6rem 9.9rem 14rem 9.9rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 62.3459rem);
    grid-auto-rows: 42.7125rem;
    flex-shrink: 0;
    box-sizing: border-box;

    .line-6-wJd {
      background-color: #000000;
      width: 124.1rem;
      height: 0.1rem;
    }
    .auto-group-ns9d-sCH {
      display: flex;
      align-items: center;
      height: 10.9rem;

      .auto-group-gnmh-1ZP {
        width: 26.8rem;
        height: 100%;
        flex-shrink: 0;
        margin-right: 90.0672rem;

        .lorem-ipsum-Xnd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
        }
        .auto-group-yig3-Fid {
          margin: 0rem 10.6rem 0rem 0.1rem;
          width: calc(100% - 10.7rem);
          display: flex;
          align-items: center;

          .rectangle-36-nCm {
            width: 3.5rem;
            height: 3.5rem;
            background-color: #d9d9d9;
            flex-shrink: 0;
            margin-right: 0.8rem;
          }
          .sandya-naufal-7kq {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
      }
      .ph-heart-bold-pfF {
        height: 4.4532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 1.0001rem;
        width: 5.1656rem;
      }
    }
    .rectangle-37-xWZ {
      background-color: #d9d9d9;
      width: 124rem;
      height: 43.8rem;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-vulputate-a-ultricies-sit-euismod-gravida-feugiat-adipiscing-sapien-blandit-orci-volutpat-vitae-ultrices-amet-ut-vitae-phasellus-adipiscing-risus-at-amet-et-est-donec-sit-aliquet-facilisis-at-faucibus-tortor-mattis-in-commodo-consectetur-scelerisque-mauris-in-porttitor-donec-ornare-dolor-massa-varius-mauris-accumsan-condimentum-in-interdum-quis-est-gravida-pulvinar-tincidunt-nisi-eu-elit-nunc-sed-amet-porta-amet-pellentesque-vel-massa-velit-amet-velit-at-libero-sed-lacus-donec-morbi-habitant-tempor-gravida-morbi-quam-aliquam-turpis-et-diam-morbi-amet-turpis-arcu-ante-non-neque-nibh-fermentum-sed-habitant-mauris-ut-nibh-ornare-neque-et-rhoncus-magna-arcu-lacus-mauris-urna-neque-pretium-proin-tincidunt-sit-est-vulputate-eu-et-pharetra-sit-vitae-natoque-odio-viverra-tempor-nisi-mauris-quis-mi-diam-aliquam-amet-ut-sed-consectetur-nisl-purus-ac-est-curabitur-ultrices-iaculis-ac-sed-leo-dolor-mattis-non-eget-consectetur-congue-accumsan-diam-amet-diam-elit-eget-nec-odio-magna-arcu-ultrices-pharetra-nam-in-laoreet-velit-cursus-condimentum-nulla-molestie-ornare-magna-velit-quam-magna-etiam-egestas-faucibus-dui-enim-nunc-sit-in-at-fringilla-convallis-ornare-libero-odio-ultrices-id-placerat-auctor-amet-vitae-at-ut-quis-lacus-id-lacinia-lacus-mi-nunc-consequat-a-elementum-maecenas-massa-lorem-et-egestas-in-pellentesque-et-et-arcu-nisl-eget-eget-vitae-scelerisque-nibh-enim-egestas-nunc-et-sagittis-augue-dolor-sollicitudin-mattis-scelerisque-neque-quam-nisl-elit-hendrerit-leo-orci-est-nulla-neque-nisl-ipsum-at-sed-malesuada-nulla-scelerisque-varius-porta-pellentesque-a-tincidunt-diam-mollis-sodales-vel-at-ipsum-placerat-turpis-proin-eget-amet-in-natoque-malesuada-arcu-semper-non-in-nisl-tellus-augue-eleifend-tellus-dictum-eu-sit-velit-sed-leo-ornare-sem-suspendisse-mi-dolor-a-vitae-aliquet-bibendum-lectus-ut-nunc-imperdiet-fermentum-diam-egestas-facilisis-amet-vulputate-augue-aliquam-etiam-elit-non-sit-est-mattis-nullam-fames-enim-volutpat-gravida-fames-quis-arcu-mattis-faucibus-at-purus-donec-scelerisque-etiam-at-id-nibh-vitae-fringilla-dolor-nibh-morbi-in-arcu-convallis-amet-condimentum-sed-amet-nunc-quam-tincidunt-lectus-metus-sollicitudin-leo-fusce-ultricies-eget-nec-tellus-enim-libero-ut-leo-at-viverra-tristique-pharetra-gravida-elementum-ac-faucibus-ut-feugiat-ultrices-arcu-non-velit-rhoncus-ut-quam-lobortis-sed-sed-quisque-tortor-elementum-vitae-sapien-vulputate-dignissim-ut-urna-aliquam-sed-orci-gravida-lectus-magna-eu-odio-ut-lectus-JqK {
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      max-width: 124.1rem;
      font-size: 2rem;
    }
  }
  .auto-group-blxk-Se1 {
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-rxyh-NGm {
      margin-right: 24.4rem;
      height: 10.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-19-Jw7 {
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
      .auto-group-zfdd-QUM {
        width: 11.8rem;
        height: 100%;
        flex-shrink: 0;

        .follow-us-k2R {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-wcyt-Uz1 {
          align-items: center;
          width: 100%;
          display: flex;

          .rectangle-15-eNh {
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 4.9rem;
          }
          .rectangle-16-zhT {
            flex-shrink: 0;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
          }
        }
      }
      .auto-group-qrbu-LmK {
        box-sizing: border-box;
        padding-left: 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rectangle-17-V8R {
          margin-right: 19.2rem;
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
        }
        .auto-group-nxqx-ntD {
          margin-bottom: 1.2rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .about-us-9Cy {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .faq-68D {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
        }
      }
    }
    .auto-group-zhhd-dP3 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 21.7rem 2.9rem 0rem;
      display: flex;

      .lorem-ipsum-dolor-sit-amet-consectetur-MK3 {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .auto-group-9qmq-U8m {
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .call-us-nQM {
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-085762382649-6vq {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
        }
      }
      .auto-group-ca67-RiD {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0.3rem;
        display: flex;

        .privacy-aLD {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
        }
        .contact-us-vQ5 {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .line-1-Tuo {
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-ctb1-pEZ {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;

      .lorem-ipsum-dolor-sit-amet-kP7 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .lorem-ipsum-dolor-sit-amet-fFB {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
    }
  }
}
