
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-DXs {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-bwxu-9wK {
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #b1b1b1;
    flex-shrink: 0;
    margin-bottom: 10rem;

    .logo-54H {
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-bHX {
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
    }
    .login-KzD {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-UMK {
      background-color: #d9d9d9;
      flex-shrink: 0;
      width: 17.4rem;
      height: 4rem;
    }
  }
  .berita-Dph {
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 15.5rem;
    font-size: 4rem;
  }
  .auto-group-7jdr-MAD {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.5rem 15.3rem 28.6rem 16.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .auto-group-mg51-TU9 {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 8.4rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-9rm {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
      }
      .buy-now-BoT {
        height: 9.1rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
        margin-top: 18.9rem;
        width: 27.7rem;
      }
    }
    .galeri-X6d {
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      font-size: 4rem;
      font-weight: 700;
    }
    .auto-group-ekkm-U1s {
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 8.4rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;
      width: 100%;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-BBB {
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .buy-now-FRw {
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
    }
    .data-BqP {
      margin-bottom: 3.5rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-brgo-vY5 {
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 8.4rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;
      width: 100%;
      display: flex;
      align-items: center;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-25K {
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 17.5rem 4rem 0rem;
      }
      .buy-now-ttD {
        flex-shrink: 0;
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
        background-color: #6e6e6e;
      }
    }
    .artikel-qHf {
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      font-size: 4rem;
    }
    .auto-group-uwtm-mBK {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 8.4rem;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-HfT {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .buy-now-mad {
        background-color: #6e6e6e;
        flex-shrink: 0;
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
      }
    }
    .kisah-sukses-K6M {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
    }
    .auto-group-4ost-RfB {
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8.6rem 9.9rem 6.8rem 4.2rem;
      width: 100%;
      display: flex;

      .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-kxM {
        margin: 0rem 17.5rem 4rem 0rem;
        max-width: 52.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .buy-now-bCH {
        margin-top: 18.9rem;
        width: 27.7rem;
        height: 9.1rem;
        background-color: #6e6e6e;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-14np-7gR {
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .auto-group-wstj-Em3 {
      height: 10.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 24.4rem;

      .rectangle-19-nGm {
        flex-shrink: 0;
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
      }
      .auto-group-lluk-usB {
        width: 11.8rem;
        height: 100%;
        flex-shrink: 0;

        .follow-us-3Tb {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-kuax-MUH {
          align-items: center;
          width: 100%;
          display: flex;

          .rectangle-15-iZj {
            margin-right: 2rem;
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
          .rectangle-16-fUy {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-8wgk-QhT {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2rem;
        height: 100%;
        display: flex;

        .rectangle-17-xiy {
          height: 4.9rem;
          background-color: #6e6e6e;
          flex-shrink: 0;
          margin-right: 19.2rem;
          width: 4.9rem;
        }
        .auto-group-pzys-ueD {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          display: flex;

          .about-us-3Ed {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .faq-akM {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
        }
      }
    }
    .auto-group-tupf-KC9 {
      margin: 0rem 18.4rem 2.9rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-SnZ {
        margin-right: 15.7rem;
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-d2ts-mZw {
        flex-shrink: 0;
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;

        .call-us-66R {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .item-085762382649-Dwj {
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-aafv-LWZ {
        flex-shrink: 0;
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;

        .privacy-policy-Usf {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .contact-us-cU5 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
      }
    }
    .line-1-9iu {
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-xgyk-6PF {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;

      .lorem-ipsum-dolor-sit-amet-pq3 {
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .lorem-ipsum-dolor-sit-amet-ZXj {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }
  }
}
