
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.privacy-gH3 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-e6zo-REd {
    background-color: #b1b1b1;
    flex-shrink: 0;
    margin-bottom: 11.3rem;
    box-sizing: border-box;
    padding: 3.2rem 10rem;
    width: 100%;
    display: flex;
    align-items: center;

    .logo-8eq {
      margin-right: 44rem;
      width: 23.2rem;
      height: 7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-fuf {
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 17.4rem;
    }
    .login-1id {
      margin-right: 2.3rem;
      width: 17.4rem;
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .login-YCm {
      height: 4rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      width: 17.4rem;
    }
  }
  .privacy-policy-tGd {
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 9.9rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
  }
  .auto-group-mdaj-Qkm {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 10rem 16.4rem 9.9rem;
    width: 100%;
    align-items: center;
    display: flex;

    .rectangle-25-uhX {
      height: 50rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0rem 0rem 8rem 0.1rem;
      width: 124rem;
    }
    .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1 {
      flex-shrink: 0;
      margin-right: 0.5rem;
      max-width: 123.6rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';

      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-0 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-1 {
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-2 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-3 {
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-4 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-5 {
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-6 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-7 {
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-8 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .kebijakan-privasi-selamat-datang-di-situs-web-kami-kami-menghargai-dan-menjaga-privasi-pengunjung-kami-dengan-sepenuh-hati-dalam-teks-ini-kami-menjelaskan-bagaimana-kami-mengumpulkan-menggunakan-dan-melindungi-informasi-pribadi-anda-saat-mengunjungi-situs-ini-informasi-yang-kami-kumpulkan-1-informasi-pribadi-saat-anda-menggunakan-situs-kami-mungkin-kami-meminta-anda-untuk-memberikan-informasi-tertentu-yang-dapat-diidentifikasi-secara-pribadi-ini-termasuk-nama-alamat-email-nomor-telepon-dan-informasi-lainnya-yang-relevan-2-log-files-seperti-banyak-situs-web-lainnya-kami-menggunakan-log-files-informasi-dalam-log-files-mencakup-alamat-ip-jenis-browser-isp-internet-service-provider-tanggal-dan-waktu-serta-halaman-yang-anda-kunjungi-di-situs-kami-3-cookies-kami-menggunakan-cookies-untuk-menyimpan-informasi-tentang-preferensi-pengunjung-mengikuti-data-lalu-lintas-di-situs-dan-mempersonalisasi-pengalaman-pengguna-penggunaan-informasi-1-meningkatkan-layanan-informasi-yang-kami-kumpulkan-digunakan-untuk-meningkatkan-layanan-kami-mempersonalisasi-pengalaman-pengguna-dan-merespons-permintaan-pelanggan-dengan-lebih-efektif-2-keamanan-kami-berkomitmen-untuk-menjaga-keamanan-informasi-pribadi-pengunjung-tindakan-keamanan-telah-diimplementasikan-untuk-mencegah-akses-tidak-sah-atau-pengungkapan-informasi-tanpa-izin-3-pemberitahuan-perubahan-setiap-kali-kami-memutuskan-untuk-mengubah-kebijakan-privasi-perubahan-tersebut-akan-segera-diberitahukan-di-halaman-ini-keamanan-informasi-kami-memprioritaskan-keamanan-informasi-pribadi-anda-kami-menggunakan-langkah-langkah-fisik-elektronik-dan-administratif-yang-sesuai-untuk-melindungi-informasi-pribadi-yang-kami-kumpulkan-dari-akses-yang-tidak-sah-atau-pengungkapan-hak-anda-anda-memiliki-hak-untuk-mengetahui-informasi-apa-yang-kami-simpan-tentang-anda-dan-bagaimana-informasi-tersebut-digunakan-jika-anda-memiliki-pertanyaan-atau-kekhawatiran-tentang-kebijakan-privasi-kami-jangan-ragu-untuk-menghubungi-kami-terima-kasih-telah-membaca-kebijakan-privasi-kami-kami-berharap-penjelasan-ini-memberikan-gambaran-yang-jelas-tentang-cara-kami-melindungi-dan-menggunakan-informasi-pribadi-pengunjung-kami-EE1-sub-9 {
      }
    }
  }
  .auto-group-ikzz-8sf {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 5.6rem 2.6rem 5.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;

    .auto-group-znaw-dJd {
      margin-right: 24.4rem;
      height: 10.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-19-jcZ {
        flex-shrink: 0;
        margin: 0.1rem 27.1rem 0rem 0rem;
        width: 23.2rem;
        height: 7rem;
        background-color: #6e6e6e;
      }
      .auto-group-l5vm-dxq {
        height: 100%;
        flex-shrink: 0;
        width: 11.8rem;

        .follow-us-zHb {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-vdws-Kam {
          width: 100%;
          display: flex;
          align-items: center;

          .rectangle-15-UCm {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .rectangle-16-nz9 {
            width: 4.9rem;
            height: 4.9rem;
            background-color: #6e6e6e;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-3udv-Xwj {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2rem;
        height: 100%;
        display: flex;

        .rectangle-17-FMw {
          flex-shrink: 0;
          margin-right: 19.2rem;
          width: 4.9rem;
          height: 4.9rem;
          background-color: #6e6e6e;
        }
        .auto-group-4m7h-PU9 {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          display: flex;

          .about-us-iFX {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .faq-e9B {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
    }
    .auto-group-a97q-BQ1 {
      margin: 0rem 18.4rem 2.9rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-consectetur-u57 {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 15.7rem;
        max-width: 34.6rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .auto-group-e4kb-QXf {
        margin: 2rem 19.2rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .call-us-txd {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .item-085762382649-2ow {
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-fddv-fM7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0.3rem;

        .privacy-policy-cXF {
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .contact-us-kNZ {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .line-1-tDs {
      margin-bottom: 2.1rem;
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-h7ym-1ZP {
      margin: 0rem 7.6rem 0rem 7.8rem;
      width: calc(100% - 15.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .lorem-ipsum-dolor-sit-amet-76d {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 48.3rem;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .lorem-ipsum-dolor-sit-amet-Eh3 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }
  }
}
