
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

div img{
  max-width: 100px;
  padding: 2px;
  
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}
.artikel-tJ9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.artikel-tJ9 .auto-group-xruo-D7T {
  width: 100%;
  height: 193.6rem;
  position: relative;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw {
  width: 124.1rem;
  height: 2.8rem;
  position: absolute;
  left: 9.9rem;
  top: 23.4rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw .login-quX {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw .login-zGd {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw .login-X1f {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw .login-ftZ {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw .login-DQH {
  margin-right: 32.7rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-mnck-Xdw .login-ZDF {
  width: 19.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-nmy7-JwX {
  width: 124.1rem;
  height: 6rem;
  position: absolute;
  left: 9.9rem;
  top: 11.3rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-nmy7-JwX .artikel-F65 {
  margin-right: 68.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-nmy7-JwX .master-input-text-yXs {
  margin: 0.7rem 0;
  box-sizing: border-box;
  padding: 1.4rem 2.4rem 1.4rem 2.4rem;
  width: 41.9rem;
  height: calc(100% - 1.4rem);
  background-color: #f2f1f9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-nmy7-JwX .master-input-text-yXs .text-icons-3Gq {
  box-sizing: border-box;
  padding-right: 0.15rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-nmy7-JwX .master-input-text-yXs .text-icons-3Gq .input-content-zSy {
  margin-right: 31.05rem;
  width: 4.4rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.125;
  color: #767393;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-nmy7-JwX .master-input-text-yXs .text-icons-3Gq .line-rounded-search-VPj {
  margin-bottom: 0.0541rem;
  width: 1.5001rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .lorem-ipsum-ntd {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 35.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.artikel-tJ9 .auto-group-xruo-D7T .lorem-ipsum-twf {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 65.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.artikel-tJ9 .auto-group-xruo-D7T .lorem-ipsum-DDF {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 96rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.artikel-tJ9 .auto-group-xruo-D7T .lorem-ipsum-JVb {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 126.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.artikel-tJ9 .auto-group-xruo-D7T .lorem-ipsum-pD3 {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 156.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-xo7r-6RT {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 39rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-xo7r-6RT .rectangle-32-Qww {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-xo7r-6RT .sandya-naufal-wws {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-hmhm-gPf {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 69.3rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-hmhm-gPf .rectangle-33-azq {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-hmhm-gPf .sandya-naufal-6CV {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-9rgx-RkZ {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 99.6rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-9rgx-RkZ .rectangle-34-Zbs {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-9rgx-RkZ .sandya-naufal-JpM {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-9bjr-3G9 {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 129.9rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-9bjr-3G9 .rectangle-35-aWy {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-9bjr-3G9 .sandya-naufal-vqj {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-6aaf-rDb {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 160.2rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-6aaf-rDb .rectangle-36-Bmf {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-6aaf-rDb .sandya-naufal-LPf {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-x4p3-3Yy {
  width: 122.2328rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 43.1rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-x4p3-3Yy .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-NLM {
  margin-right: 12.1672rem;
  max-width: 104.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-x4p3-3Yy .ph-heart-bold-KQ1 {
  margin-top: 0.3001rem;
  width: 5.1656rem;
  height: 4.4532rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-qk4b-2ZK {
  width: 122.2328rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 73.4rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-qk4b-2ZK .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-AQd {
  margin-right: 12.1672rem;
  max-width: 104.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-qk4b-2ZK .ph-heart-bold-k7w {
  margin-top: 0.3001rem;
  width: 5.1656rem;
  height: 4.4532rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-curb-5g1 {
  width: 122.2328rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 103.7rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-curb-5g1 .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-oru {
  margin-right: 12.1672rem;
  max-width: 104.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-curb-5g1 .ph-heart-bold-nyj {
  margin-top: 0.3001rem;
  width: 5.1656rem;
  height: 4.4532rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-ggaf-7m7 {
  width: 122.2328rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 134rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-ggaf-7m7 .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-T4H {
  margin-right: 12.1672rem;
  max-width: 104.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-ggaf-7m7 .ph-heart-bold-2Fo {
  margin-top: 0.3001rem;
  width: 5.1656rem;
  height: 4.4532rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-gt9m-vry {
  width: 122.2328rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 164.3rem;
  display: flex;
  align-items: center;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-gt9m-vry .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-4TP {
  margin-right: 12.1672rem;
  max-width: 104.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .auto-group-gt9m-vry .ph-heart-bold-2Yd {
  margin-top: 0.3001rem;
  width: 5.1656rem;
  height: 4.4532rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.artikel-tJ9 .auto-group-xruo-D7T .line-2-mFK {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 61.8rem;
  background-color: #000000;
}
.artikel-tJ9 .auto-group-xruo-D7T .line-3-frV {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 92.1rem;
  background-color: #000000;
}
.artikel-tJ9 .auto-group-xruo-D7T .line-4-1QZ {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 122.4rem;
  background-color: #000000;
}
.artikel-tJ9 .auto-group-xruo-D7T .line-5-YfP {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 152.7rem;
  background-color: #000000;
}
.artikel-tJ9 .auto-group-xruo-D7T .line-6-gmb {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 183rem;
  background-color: #000000;
}
.footer {
  background-color: #0082e6;
  padding: 25px;
  color: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.line1-col {
  width: 21.2%;
  margin: 20px;
}

.line1-col a{
  text-decoration: none;
  color: #fff;
}

.logo1 .logo{
  font-size: 50px;
}

.logo1 .desk p {
  font-size: 1px;
}

.tentang ul,
.Important ul,
.Useful-Links ul {
  list-style-type: none;
  padding: 0;
}

.tentang ul li,
.Important ul li,
.Useful-Links ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.line1-col p,
.line1-col h3,
.line1-col .desk {
  font-size: 20px;
  margin-bottom: 20px;
}

.line2-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.subs{
  margin-top: 30px;
  margin-left: 80px;
}

.subs h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.subs p{
  font-size: 15px;
  margin-bottom: 20px;
}

.subs form {
  display: flex;
  align-items: center;
}

.subs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subs button {
  background-color: #279ef8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subs button:hover {
  background-color: #0056b3;
}


.mid {
  padding: 20px;
}

.mid .followus {
  margin-bottom: 10px;
  font-size: 20px;
}

.sosmed {
  text-align: center;
}

.icon-sosmed img {
  margin-bottom: 10px;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.notelp {
  margin-top: 20px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}
