
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

div img{
  max-width: 100px;
  padding: 2px;
  
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}
.content-body {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.content-body .content {
  width: 90%;
  height: 193.6rem;
  position: relative;
  flex-shrink: 0;
}
.content-body .content .kategori-box {
  width: 100%;
  height: 2.8rem;
  position: absolute;
  top: 23.4rem;
  display: flex;
  align-items: center;
}
.content-body .content .kategori-box .login-PbK {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .kategori-box .login-7nD {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .kategori-box .login-T5P {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .kategori-box .login-Zu7 {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .kategori-box .login-iX7 {
  margin-right: 32.7rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .kategori-box .login-45B {
  width: 19.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .content-title-layout {
  width: 100%;
  height: 6rem;
  position: relative;
  top: 11.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-body .content .content-title-layout .title {
  margin-right: 10px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.searchbox {
  position: relative;
  margin-left: 10px;
}

.searchbox input[type="text"] {
  padding: 8px 30px 8px 8px;
  border: none;
  border-radius: 10px;
  background-color: #b4b4b4;
}

.searchbox button {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding:5px;
}

.content-body .content .sub-content .berita-title {
  width: 100%;
  height: 3.6rem;
  position: absolute;
  top: 35.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}

.content-body .content .sub-content .penulis-berita {
  width: 100%;
  height: 3.5rem;
  position: absolute;
  top: 39rem;
  display: flex;
  align-items: center;
}
.content-body .content .sub-content .penulis-berita .rectangle-32-E5T {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content-body .content .sub-content .penulis-berita .sandya-naufal-NSZ {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.content-body .content .sub-content .desk {
  width: 100%;
  height: 12rem;
  position: absolute;
  top: 43.1rem;
  display: flex;
  align-items: center;
}
.content-body .content .sub-content .desk .deskrip {
  margin-right: 12.1672rem;
  max-width: 104.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.content-body .content .sub-content .desk .ph-heart-bold-ZUR {
  margin-top: 0.3001rem;
  width: 5.1656rem;
  height: 4.4532rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.content-body .content .sub-content .line {
  width: 100%;
  height: 0.1rem;
  position: absolute;
  top: 61.8rem;
  background-color: #000000;
}

.footer {
  background-color: #0082e6;
  padding: 25px;
  color: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.line1-col {
  width: 21.2%;
  margin: 20px;
}

.line1-col a{
  text-decoration: none;
  color: #fff;
}

.logo1 img {
  max-width: 50%;
  height: auto;
  margin-bottom: 0px; 
}

.logo1 p.desk {
  font-size: 15px;
  line-height: 0.7em;
}

.tentang ul,
.Important ul,
.Useful-Links ul {
  list-style-type: none;
  padding: 0;
}

.tentang ul li,
.Important ul li,
.Useful-Links ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.line1-col p,
.line1-col h3,
.line1-col .desk {
  font-size: 20px;
  margin-bottom: 20px;
}

.line2-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.subs{
  margin-top: 30px;
  margin-left: 80px;
}

.subs h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.subs p{
  font-size: 15px;
  margin-bottom: 20px;
}

.subs form {
  display: flex;
  align-items: center;
}

.subs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subs button {
  background-color: #279ef8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subs button:hover {
  background-color: #0056b3;
}


.mid {
  padding: 20px;
}

.mid .followus {
  margin-bottom: 10px;
  font-size: 20px;
}

.sosmed {
  text-align: center;
}

.icon-sosmed img {
  margin-bottom: 10px;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.notelp {
  margin-top: 20px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}