html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

div img{
  width: 100px;
  padding: 2px;
  
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}
.forum-diskusi-nH3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR {
  width: 100%;
  height: 184.6rem;
  position: relative;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-rkub-uuP {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 57.1rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-rkub-uuP .login-pFf {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-rkub-uuP .login-xsf {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-rkub-uuP .login-Yay {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-kfpf-HoT {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 85.4rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-kfpf-HoT .login-cqj {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-kfpf-HoT .login-Na1 {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-kfpf-HoT .login-uZw {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-nc7d-rk5 {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 113.7rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-nc7d-rk5 .login-ag5 {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-nc7d-rk5 .login-9DP {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-nc7d-rk5 .login-5sj {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-d787-eA9 {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 142rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-d787-eA9 .login-mkZ {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-d787-eA9 .login-v7f {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-d787-eA9 .login-U9B {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-4tbh-dGy {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 170.3rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-4tbh-dGy .login-MTs {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-4tbh-dGy .login-ukH {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-4tbh-dGy .login-exm {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ku7m-CzH {
  width: 109.2rem;
  height: 2.8rem;
  position: absolute;
  left: 24.8rem;
  top: 23.4rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ku7m-CzH .login-WVB {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ku7m-CzH .login-row {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ku7m-CzH .login-PJ5 {
  margin-right: 2.5rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ku7m-CzH .login-Xv5 {
  margin-right: 32.7rem;
  width: 12.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ku7m-CzH .login-UqK {
  width: 19.4rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ltqt-qA5 {
  width: 124.1rem;
  height: 6rem;
  position: absolute;
  left: 9.9rem;
  top: 11.3rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ltqt-qA5 .forum-diskusi-mJd {
  margin-right: 53rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ltqt-qA5 .master-input-text-sMf {
  margin: 0.7rem 0;
  box-sizing: border-box;
  padding: 1.4rem 2.4rem 1.4rem 2.4rem;
  width: 41.9rem;
  height: calc(100% - 1.4rem);
  background-color: #f2f1f9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ltqt-qA5 .master-input-text-sMf .text-icons-yfb {
  box-sizing: border-box;
  padding-right: 0.15rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ltqt-qA5 .master-input-text-sMf .text-icons-yfb .input-content-it5 {
  margin-right: 31.05rem;
  width: 4.4rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.125;
  color: #767393;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ltqt-qA5 .master-input-text-sMf .text-icons-yfb .line-rounded-search-ciZ {
  margin-bottom: 0.0541rem;
  width: 1.5001rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-L8m {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 39.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-qbK {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 67.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-Vvm {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 95.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-PmF {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 124.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-uDo {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 152.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-bguj-23X {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 35.4rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-bguj-23X .rectangle-32-kER {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-bguj-23X .sandya-naufal-gtm {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-xpxz-pk5 {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 63.7rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-xpxz-pk5 .rectangle-33-LiR {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-xpxz-pk5 .sandya-naufal-tV3 {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ouud-DnD {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 92rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ouud-DnD .rectangle-34-kn9 {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-ouud-DnD .sandya-naufal-5pR {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-a3tw-nyj {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 120.3rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-a3tw-nyj .rectangle-35-8Gu {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-a3tw-nyj .sandya-naufal-qx1 {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-uacb-n6Z {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 148.6rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-uacb-n6Z .rectangle-36-iW1 {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .auto-group-uacb-n6Z .sandya-naufal-4Zs {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-Ps3 {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 43.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-MSV {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 71.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-igM {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 99.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-3MF {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 128rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-DQ9 {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 156.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .line-2-M8y {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 61.8rem;
  background-color: #000000;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .line-3-sND {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 90.1rem;
  background-color: #000000;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .line-4-p2Z {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 118.4rem;
  background-color: #000000;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .line-5-YUM {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 146.7rem;
  background-color: #000000;
}
.forum-diskusi-nH3 .auto-group-tedy-rAR .line-6-5jB {
  width: 124.1rem;
  height: 0.1rem;
  position: absolute;
  left: 9.9rem;
  top: 175rem;
  background-color: #000000;
}

.footer {
  background-color: #0082e6;
  padding: 25px;
  color: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.line1-col {
  width: 21.2%;
  margin: 20px;
}

.line1-col a{
  text-decoration: none;
  color: #fff;
}

.logo1 img {
  max-width: 50%;
  height: auto;
  margin-bottom: 0px; 
}

.logo1 p.desk {
  font-size: 15px;
  line-height: 0.7em;
}

.tentang ul,
.Important ul,
.Useful-Links ul {
  list-style-type: none;
  padding: 0;
}

.tentang ul li,
.Important ul li,
.Useful-Links ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.line1-col p,
.line1-col h3,
.line1-col .desk {
  font-size: 20px;
  margin-bottom: 20px;
}

.line2-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.subs{
  margin-top: 30px;
  margin-left: 80px;
}

.subs h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.subs p{
  font-size: 15px;
  margin-bottom: 20px;
}

.subs form {
  display: flex;
  align-items: center;
}

.subs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subs button {
  background-color: #279ef8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subs button:hover {
  background-color: #0056b3;
}

np
.mid {
  padding: 20px;
}

.mid .followus {
  margin-bottom: 10px;
  font-size: 20px;
}

.sosmed {
  text-align: center;
}

.icon-sosmed img {
  margin-bottom: 10px;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.notelp {
  margin-top: 20px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}