html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

div img{
  width: 100px;
  padding: 2px;
  
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}
.forum-diskusi-one-zrZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.forum-diskusi-one-zrZ .forum-diskusi-cFf {
  margin-left: 9.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh {
  width: 100%;
  height: 110.5rem;
  position: relative;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .login-Gr1 {
  width: 105.8rem;
  height: 11.4rem;
  position: absolute;
  left: 10.9rem;
  top: 84.8rem;
  background-color: #d9d9d9;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 27.2rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u .login-ii1 {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u .login-sqo {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u .login-Qaq {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 15.2rem;
  top: 46.6rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK .login-TZ7 {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK .login-DYH {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK .login-ynM {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 15.3rem;
  top: 67.7rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 .login-Sfw {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 .login-nUu {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 .login-LmK {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-JCM {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 9.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ujsd-bx9 {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 5.5rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ujsd-bx9 .rectangle-32-wWD {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ujsd-bx9 .sandya-naufal-tAZ {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ueq1-DCq {
  width: 13.1rem;
  height: 3.5rem;
  position: absolute;
  left: 14.9rem;
  top: 33.3rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ueq1-DCq .rectangle-33-Gwo {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ueq1-DCq .aria-pandu-ogq {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-snnw-wY9 {
  width: 7.3rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 79.9rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-snnw-wY9 .rectangle-35-swb {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-snnw-wY9 .you-23o {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-hp7d-ZZX {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 15rem;
  top: 54.4rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-hp7d-ZZX .rectangle-34-Vxy {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-hp7d-ZZX .lukman-SNR {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-B57 {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 13.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .rectangle-36-XoB {
  width: 9.7rem;
  height: 3.5rem;
  position: absolute;
  left: 106.9rem;
  top: 97.6rem;
  background-color: #d9d9d9;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-dolor-sit-amet-consectetur-euismod-non-erat-feugiat-aliquam-massa-cursus-quis-phasellus-mattis-at-amet-nunc-nunc-feugiat-egestas-sed-amet-dui-orci-ligula-sodales-semper-pellentesque-in-donec-amet-at-non-nisl-tempor-platea-est-dictum-lacus-felis-neque-adipiscing-GEy {
  width: 94.8rem;
  height: 9rem;
  position: absolute;
  left: 14.9rem;
  top: 36.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-dolor-sit-amet-consectetur-euismod-non-erat-feugiat-aliquam-massa-cursus-quis-phasellus-mattis-at-amet-nunc-nunc-feugiat-egestas-sed-amet-dui-orci-ligula-sodales-semper-pellentesque-in-donec-amet-at-non-nisl-tempor-platea-est-dictum-lacus-felis-neque-adipiscing-rDB {
  width: 94.8rem;
  height: 9rem;
  position: absolute;
  left: 15rem;
  top: 57.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .line-8-qqo {
  width: 101.8rem;
  height: 0.1rem;
  position: absolute;
  left: 14.8rem;
  top: 51.9rem;
  background-color: #000000;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .line-9-aYV {
  width: 101.8rem;
  height: 0.1rem;
  position: absolute;
  left: 14.9rem;
  top: 73rem;
  background-color: #000000;
}

.footer {
  background-color: #0082e6;
  padding: 25px;
  color: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.line1-col {
  width: 21.2%;
  margin: 20px;
}

.line1-col a{
  text-decoration: none;
  color: #fff;
}

.logo1 .logo{
  font-size: 50px;
}

.logo1 .desk p {
  font-size: 1px;
}

.tentang ul,
.Important ul,
.Useful-Links ul {
  list-style-type: none;
  padding: 0;
}

.tentang ul li,
.Important ul li,
.Useful-Links ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.line1-col p,
.line1-col h3,
.line1-col .desk {
  font-size: 20px;
  margin-bottom: 20px;
}

.line2-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.subs{
  margin-top: 30px;
  margin-left: 80px;
}

.subs h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.subs p{
  font-size: 15px;
  margin-bottom: 20px;
}

.subs form {
  display: flex;
  align-items: center;
}

.subs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subs button {
  background-color: #279ef8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subs button:hover {
  background-color: #0056b3;
}

np
.mid {
  padding: 20px;
}

.mid .followus {
  margin-bottom: 10px;
  font-size: 20px;
}

.sosmed {
  text-align: center;
}

.icon-sosmed img {
  margin-bottom: 10px;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.notelp {
  margin-top: 20px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}