
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.forum-diskusi-one-zrZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.forum-diskusi-one-zrZ .auto-group-rgbm-LfX {
  margin-bottom: 11.3rem;
  box-sizing: border-box;
  padding: 3.2rem 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b1b1b1;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-rgbm-LfX .logo-U13 {
  margin-right: 44rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-rgbm-LfX .login-P81 {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-rgbm-LfX .login-XV7 {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-rgbm-LfX .login-4V3 {
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .forum-diskusi-cFf {
  margin-left: 9.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh {
  width: 100%;
  height: 110.5rem;
  position: relative;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .login-Gr1 {
  width: 105.8rem;
  height: 11.4rem;
  position: absolute;
  left: 10.9rem;
  top: 84.8rem;
  background-color: #d9d9d9;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 10.9rem;
  top: 27.2rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u .login-ii1 {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u .login-sqo {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-6cck-12u .login-Qaq {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 15.2rem;
  top: 46.6rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK .login-TZ7 {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK .login-DYH {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-vwp7-9oK .login-ynM {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 {
  width: 19.3rem;
  height: 2.8rem;
  position: absolute;
  left: 15.3rem;
  top: 67.7rem;
  display: flex;
  column-gap: 1.7rem;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 .login-Sfw {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 .login-nUu {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-atsm-LN1 .login-LmK {
  width: 5.3rem;
  height: 2.8rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-JCM {
  width: 16.1rem;
  height: 3.6rem;
  position: absolute;
  left: 10.9rem;
  top: 9.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ujsd-bx9 {
  width: 16.1rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 5.5rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ujsd-bx9 .rectangle-32-wWD {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ujsd-bx9 .sandya-naufal-tAZ {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ueq1-DCq {
  width: 13.1rem;
  height: 3.5rem;
  position: absolute;
  left: 14.9rem;
  top: 33.3rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ueq1-DCq .rectangle-33-Gwo {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-ueq1-DCq .aria-pandu-ogq {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-snnw-wY9 {
  width: 7.3rem;
  height: 3.5rem;
  position: absolute;
  left: 10.9rem;
  top: 79.9rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-snnw-wY9 .rectangle-35-swb {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-snnw-wY9 .you-23o {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-hp7d-ZZX {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 15rem;
  top: 54.4rem;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-hp7d-ZZX .rectangle-34-Vxy {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .auto-group-hp7d-ZZX .lukman-SNR {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-dolor-sit-amet-consectetur-ipsum-at-convallis-cras-netus-pellentesque-morbi-magna-malesuada-aenean-phasellus-in-auctor-vitae-aliquam-justo-felis-libero-id-facilisis-viverra-velit-integer-mauris-sed-enim-venenatis-neque-pharetra-sodales-cras-ut-ac-consectetur-integer-est-metus-suspendisse-iaculis-laoreet-adipiscing-egestas-nibh-vulputate-integer-non-risus-vel-quam-in-egestas-ut-B57 {
  width: 104.9rem;
  height: 12rem;
  position: absolute;
  left: 10.9rem;
  top: 13.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .rectangle-36-XoB {
  width: 9.7rem;
  height: 3.5rem;
  position: absolute;
  left: 106.9rem;
  top: 97.6rem;
  background-color: #d9d9d9;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-dolor-sit-amet-consectetur-euismod-non-erat-feugiat-aliquam-massa-cursus-quis-phasellus-mattis-at-amet-nunc-nunc-feugiat-egestas-sed-amet-dui-orci-ligula-sodales-semper-pellentesque-in-donec-amet-at-non-nisl-tempor-platea-est-dictum-lacus-felis-neque-adipiscing-GEy {
  width: 94.8rem;
  height: 9rem;
  position: absolute;
  left: 14.9rem;
  top: 36.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .lorem-ipsum-dolor-sit-amet-consectetur-euismod-non-erat-feugiat-aliquam-massa-cursus-quis-phasellus-mattis-at-amet-nunc-nunc-feugiat-egestas-sed-amet-dui-orci-ligula-sodales-semper-pellentesque-in-donec-amet-at-non-nisl-tempor-platea-est-dictum-lacus-felis-neque-adipiscing-rDB {
  width: 94.8rem;
  height: 9rem;
  position: absolute;
  left: 15rem;
  top: 57.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .line-8-qqo {
  width: 101.8rem;
  height: 0.1rem;
  position: absolute;
  left: 14.8rem;
  top: 51.9rem;
  background-color: #000000;
}
.forum-diskusi-one-zrZ .auto-group-tb9d-8zh .line-9-aYV {
  width: 101.8rem;
  height: 0.1rem;
  position: absolute;
  left: 14.9rem;
  top: 73rem;
  background-color: #000000;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq {
  box-sizing: border-box;
  padding: 2.9rem 5.6rem 2.6rem 5.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy {
  margin-right: 24.4rem;
  height: 10.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .rectangle-19-m7B {
  margin: 0.1rem 27.1rem 0rem 0rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-m5zb-gzq {
  width: 11.8rem;
  height: 100%;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-m5zb-gzq .follow-us-3qP {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-m5zb-gzq .auto-group-f28j-b6D {
  width: 100%;
  display: flex;
  align-items: center;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-m5zb-gzq .auto-group-f28j-b6D .rectangle-15-M5P {
  margin-right: 2rem;
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-m5zb-gzq .auto-group-f28j-b6D .rectangle-16-5GH {
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-csy9-DtH {
  box-sizing: border-box;
  padding-left: 2rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-csy9-DtH .rectangle-17-9mw {
  margin-right: 19.2rem;
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-csy9-DtH .auto-group-tktx-uFK {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-csy9-DtH .auto-group-tktx-uFK .about-us-eih {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-xofy-czy .auto-group-csy9-DtH .auto-group-tktx-uFK .faq-a6Z {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws {
  margin: 0rem 21.7rem 2.9rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .lorem-ipsum-dolor-sit-amet-consectetur-R7B {
  margin-right: 15.7rem;
  max-width: 34.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .auto-group-tnvr-wLR {
  margin: 2rem 19.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .auto-group-tnvr-wLR .call-us-UbF {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .auto-group-tnvr-wLR .item-085762382649-DYq {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .auto-group-jipb-L7f {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .auto-group-jipb-L7f .privacy-t9B {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-bt7z-hws .auto-group-jipb-L7f .contact-us-QtD {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .line-1-w7T {
  margin-bottom: 2.1rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-zcpm-HSD {
  margin: 0rem 7.6rem 0rem 7.8rem;
  width: calc(100% - 15.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-zcpm-HSD .lorem-ipsum-dolor-sit-amet-1t1 {
  margin-right: 48.3rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forum-diskusi-one-zrZ .auto-group-adty-6Wq .auto-group-zcpm-HSD .lorem-ipsum-dolor-sit-amet-MBB {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
