
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.galeri-P4q {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.galeri-P4q .auto-group-sscw-GuK {
  margin-bottom: 11.3rem;
  box-sizing: border-box;
  padding: 3.2rem 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b1b1b1;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-sscw-GuK .logo-af7 {
  margin-right: 44rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-sscw-GuK .login-X4Z {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-sscw-GuK .login-Tiu {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-sscw-GuK .login-aYd {
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.galeri-P4q .galeri-iuj {
  margin: 0rem 111.8rem 6.9rem 0rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .paragraph-ogH {
  margin: 0rem 0rem 8.29rem 0rem;
  max-width: 57rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #9795b4;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galeri-P4q .gallery-JN9 {
  margin-bottom: 16.8614rem;
  width: 122rem;
  height: 83.4489rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK {
  box-sizing: border-box;
  padding: 2.9rem 5.6rem 2.6rem 5.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV {
  margin-right: 24.4rem;
  height: 10.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .rectangle-19-TeM {
  margin: 0.1rem 27.1rem 0rem 0rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-aktm-BqF {
  width: 11.8rem;
  height: 100%;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-aktm-BqF .follow-us-6xD {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-aktm-BqF .auto-group-lhyv-SWH {
  width: 100%;
  display: flex;
  align-items: center;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-aktm-BqF .auto-group-lhyv-SWH .rectangle-15-be5 {
  margin-right: 2rem;
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-aktm-BqF .auto-group-lhyv-SWH .rectangle-16-whw {
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-cwhm-6Kw {
  box-sizing: border-box;
  padding-left: 2rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-cwhm-6Kw .rectangle-17-2Db {
  margin-right: 19.2rem;
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-cwhm-6Kw .auto-group-5qyk-Aqb {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-cwhm-6Kw .auto-group-5qyk-Aqb .about-us-is7 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-xghh-YGV .auto-group-cwhm-6Kw .auto-group-5qyk-Aqb .faq-fGZ {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 {
  margin: 0rem 21.7rem 2.9rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .lorem-ipsum-dolor-sit-amet-consectetur-8vq {
  margin-right: 15.7rem;
  max-width: 34.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .auto-group-k3jh-dsb {
  margin: 2rem 19.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .auto-group-k3jh-dsb .call-us-mD7 {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .auto-group-k3jh-dsb .item-085762382649-6mB {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .auto-group-czq3-2Pw {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .auto-group-czq3-2Pw .privacy-n8D {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-t8sd-bg1 .auto-group-czq3-2Pw .contact-us-inZ {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .line-1-G3P {
  margin-bottom: 2.1rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-9fm5-DDX {
  margin: 0rem 7.6rem 0rem 7.8rem;
  width: calc(100% - 15.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-9fm5-DDX .lorem-ipsum-dolor-sit-amet-Vwj {
  margin-right: 48.3rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galeri-P4q .auto-group-chgf-dfK .auto-group-9fm5-DDX .lorem-ipsum-dolor-sit-amet-2wf {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
