
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

.login-layout label{
  font-size: 20px;
}

.login-layout input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}

.login-layout button{
    width: 100%;
    padding: 5px 0;
    border: none;
    margin-bottom: 15px;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}

.img-side img{
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
}

.remember {
  margin-right: 13.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #000000;
  white-space: nowrap;
  flex-shrink: 0;
}

.lupa-pass {
  margin-right: 16.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #000000;
  white-space: nowrap;
  flex-shrink: 0;
}

.content {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.content .auto-group-fqbq-Lgm {
  margin-bottom: 11.3rem;
  box-sizing: border-box;
  padding: 3.2rem 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b1b1b1;
  flex-shrink: 0;
}
.content .auto-group-fqbq-Lgm .logo-exM {
  margin-right: 44rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content .auto-group-fqbq-Lgm .login-zWR {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content .auto-group-fqbq-Lgm .login-8cd {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content .auto-group-fqbq-Lgm .login-UwP {
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content .title-content  {
  margin: 5rem 0rem 1rem 9.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content .mid-content {
  margin: 0rem 10rem 16.3rem 10rem;
  box-sizing: border-box;
  padding: 4.2rem 3.2rem 5.1rem 5.4rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.content .mid-content .login-layout {
  margin: 0rem 23.9rem 3.5rem 0rem;
  width: 37.9rem;
  flex-shrink: 0;
}
.content .mid-content .login-layout .email-N9b {
  margin-bottom: 1.9rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.content .mid-content .login-layout .rectangle-26-7N5 {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 5.6rem;
  background-color: #929292;
}
.content .mid-content .login-layout .password-rqT {
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.content .mid-content .login-layout .rectangle-27-QMB {
  margin-bottom: 4.1rem;
  width: 100%;
  height: 5.6rem;
  background-color: #929292;
}
.content .mid-content .login-layout .frame-2-Lkd {
  margin: 0rem 8.4rem 2.7rem 8.3rem;
  width: calc(100% - 16.7rem);
  height: 4.9rem;
  overflow: hidden;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #929292;
}
.content .mid-content .login-layout .remember-layout {
  margin-bottom: 4.3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.content .mid-content .login-layout .remember-layout .rectangle-28-8Ah {
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem #b6b6b6;
  box-sizing: border-box;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.content .mid-content .login-layout .remember-layout .remember-me-Dhw {
  margin-right: 16.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content .mid-content .login-layout .remember-layout .forgot-password-Xid {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content .mid-content .login-layout .or-login-with-eoF {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.content .mid-content .login-layout .loginwith-layout {
  box-sizing: border-box;
  padding: 2.3rem 7.5rem 0rem 7.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.content .mid-content .login-layout .loginwith-layout .google-layout {
  margin-bottom: 2.3rem;
  box-sizing: border-box;
  padding: 0.2rem 4.3rem 0.3rem 0.3rem;
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  background-color: #4285f4;
  flex-shrink: 0;
}
.content .mid-content .login-layout .loginwith-layout .google-layout .google-set {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 0.7rem 1rem 0.6rem 0.7rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.content .mid-content .login-layout .loginwith-layout .google-layout .google-set .googleglogo-1-Zoj {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
}
.content .mid-content .login-layout .loginwith-layout .google-layout .sign-in-with-google-5GH {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.content .mid-content .login-layout .loginwith-layout .facebook-layout {
  box-sizing: border-box;
  padding: 0.2rem 2.8rem 0.3rem 0.3rem;
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  background-color: #3c5a9a;
  flex-shrink: 0;
}
.content .mid-content .login-layout .loginwith-layout .facebook-layout .facebook-set {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem 1.4rem 0.4rem 1.4rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.content .mid-content .login-layout .loginwith-layout .facebook-layout .facebook-set .facebook-2-logo-png-transparent-1-PwB {
  width: 1.5rem;
  height: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.content .mid-content .login-layout .loginwith-layout .facebook-layout .sign-in-with-facebook-iyT {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.footer {
  background-color: #0082e6;
  padding: 25px;
  color: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.line1-col {
  width: 21.2%;
  margin: 20px;
}

.line1-col a{
  text-decoration: none;
  color: #fff;
}

.logo1 .logo{
  font-size: 50px;
}

.logo1 .desk p {
  font-size: 1px;
}

.tentang ul,
.Important ul,
.Useful-Links ul {
  list-style-type: none;
  padding: 0;
}

.tentang ul li,
.Important ul li,
.Useful-Links ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.line1-col p,
.line1-col h3,
.line1-col .desk {
  font-size: 20px;
  margin-bottom: 20px;
}

.line2-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.subs{
  margin-top: 30px;
  margin-left: 80px;
}

.subs h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.subs p{
  font-size: 15px;
  margin-bottom: 20px;
}

.subs form {
  display: flex;
  align-items: center;
}

.subs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subs button {
  background-color: #279ef8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subs button:hover {
  background-color: #0056b3;
}


.mid {
  padding: 20px;
}

.mid .followus {
  margin-bottom: 10px;
  font-size: 20px;
}

.sosmed {
  text-align: center;
}

.icon-sosmed img {
  margin-bottom: 10px;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.notelp {
  margin-top: 20px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}


