html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

div img{
  width: 100px;
  padding: 2px;
  
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}
.menu-DXs {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.menu-DXs .berita-Dph {
  margin-left: 15.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD {
  box-sizing: border-box;
  padding: 3.5rem 15.3rem 28.6rem 16.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-mg51-TU9 {
  margin-bottom: 8.4rem;
  box-sizing: border-box;
  padding: 8.6rem 9.9rem 6.8rem 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-mg51-TU9 .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-9rm {
  margin: 0rem 17.5rem 4rem 0rem;
  max-width: 52.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-mg51-TU9 .buy-now-BoT {
  margin-top: 18.9rem;
  width: 27.7rem;
  height: 9.1rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .galeri-X6d {
  margin-bottom: 3.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-ekkm-U1s {
  margin-bottom: 8.4rem;
  box-sizing: border-box;
  padding: 8.6rem 9.9rem 6.8rem 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-ekkm-U1s .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-BBB {
  margin: 0rem 17.5rem 4rem 0rem;
  max-width: 52.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-ekkm-U1s .buy-now-FRw {
  margin-top: 18.9rem;
  width: 27.7rem;
  height: 9.1rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .data-BqP {
  margin-bottom: 3.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-brgo-vY5 {
  margin-bottom: 8.4rem;
  box-sizing: border-box;
  padding: 8.6rem 9.9rem 6.8rem 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-brgo-vY5 .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-25K {
  margin: 0rem 17.5rem 4rem 0rem;
  max-width: 52.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-brgo-vY5 .buy-now-ttD {
  margin-top: 18.9rem;
  width: 27.7rem;
  height: 9.1rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .artikel-qHf {
  margin-bottom: 3.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-uwtm-mBK {
  margin-bottom: 8.4rem;
  box-sizing: border-box;
  padding: 8.6rem 9.9rem 6.8rem 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-uwtm-mBK .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-HfT {
  margin: 0rem 17.5rem 4rem 0rem;
  max-width: 52.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-uwtm-mBK .buy-now-mad {
  margin-top: 18.9rem;
  width: 27.7rem;
  height: 9.1rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .kisah-sukses-K6M {
  margin-bottom: 3.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-4ost-RfB {
  box-sizing: border-box;
  padding: 8.6rem 9.9rem 6.8rem 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-4ost-RfB .lorem-ipsum-dolor-sit-amet-consectetur-nunc-quis-faucibus-non-gravida-turpis-ullamcorper-amet-massa-et-amet-rutrum-felis-ac-massa-kxM {
  margin: 0rem 17.5rem 4rem 0rem;
  max-width: 52.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-DXs .auto-group-7jdr-MAD .auto-group-4ost-RfB .buy-now-bCH {
  margin-top: 18.9rem;
  width: 27.7rem;
  height: 9.1rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}

.footer {
  background-color: #0082e6;
  padding: 25px;
  color: #fff;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.line1-col {
  width: 21.2%;
  margin: 20px;
}

.line1-col a{
  text-decoration: none;
  color: #fff;
}

.logo1 img {
  max-width: 50%;
  height: auto;
  margin-bottom: 0px; 
}

.logo1 p.desk {
  font-size: 15px;
  line-height: 0.7em;
}

.tentang ul,
.Important ul,
.Useful-Links ul {
  list-style-type: none;
  padding: 0;
}

.tentang ul li,
.Important ul li,
.Useful-Links ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.line1-col p,
.line1-col h3,
.line1-col .desk {
  font-size: 20px;
  margin-bottom: 20px;
}

.line2-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.subs{
  margin-top: 30px;
  margin-left: 80px;
}

.subs h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.subs p{
  font-size: 15px;
  margin-bottom: 20px;
}

.subs form {
  display: flex;
  align-items: center;
}

.subs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.subs button {
  background-color: #279ef8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subs button:hover {
  background-color: #0056b3;
}

np
.mid {
  padding: 20px;
}

.mid .followus {
  margin-bottom: 10px;
  font-size: 20px;
}

.sosmed {
  text-align: center;
}

.icon-sosmed img {
  margin-bottom: 10px;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.notelp {
  margin-top: 20px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}