
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
.register-EHs {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.register-EHs .auto-group-xlur-iTw {
  margin-bottom: 11.3rem;
  box-sizing: border-box;
  padding: 3.2rem 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b1b1b1;
  flex-shrink: 0;
}
.register-EHs .auto-group-xlur-iTw .logo-RdF {
  margin-right: 44rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.register-EHs .auto-group-xlur-iTw .login-jP3 {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.register-EHs .auto-group-xlur-iTw .login-UbX {
  margin-right: 2.3rem;
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.register-EHs .auto-group-xlur-iTw .login-E4u {
  width: 17.4rem;
  height: 4rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.register-EHs .register-Az9 {
  margin: 0rem 0rem 8rem 9.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb {
  margin: 0rem 10rem 16.7rem 10rem;
  box-sizing: border-box;
  padding: 4.2rem 3.2rem 7.2rem 5.4rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK {
  margin: 0rem 23.9rem 1.2rem 0rem;
  width: 37.9rem;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .nama-fpR {
  margin-bottom: 1.9rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .rectangle-26-BXs {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 5.6rem;
  background-color: #929292;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .email-7wK {
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .rectangle-27-fC9 {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 5.6rem;
  background-color: #929292;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .password-brV {
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .rectangle-30-jho {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 5.6rem;
  background-color: #929292;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .konfirmasi-password-sp1 {
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .rectangle-31-D7B {
  width: 100%;
  height: 5.6rem;
  background-color: #929292;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD {
  box-sizing: border-box;
  padding: 5.1rem 7.5rem 0rem 7.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .frame-2-GLM {
  margin: 0rem 0.9rem 9rem 0.9rem;
  width: calc(100% - 1.8rem);
  height: 4.9rem;
  overflow: hidden;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #929292;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .or-register-with-jjj {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-47-qGy {
  margin-bottom: 2.3rem;
  box-sizing: border-box;
  padding: 0.2rem 4.3rem 0.3rem 0.3rem;
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  background-color: #4285f4;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-47-qGy .auto-group-cteb-X9o {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 0.7rem 1rem 0.6rem 0.7rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-47-qGy .auto-group-cteb-X9o .googleglogo-1-qRP {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-47-qGy .sign-in-with-google-m49 {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-48-r5b {
  box-sizing: border-box;
  padding: 0.2rem 2.8rem 0.3rem 0.3rem;
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  background-color: #3c5a9a;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-48-r5b .auto-group-bbkh-mTT {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem 1.4rem 0.4rem 1.4rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-48-r5b .auto-group-bbkh-mTT .facebook-2-logo-png-transparent-1-gaR {
  width: 1.5rem;
  height: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.register-EHs .auto-group-eahy-ghb .auto-group-ekls-NqK .auto-group-na51-jrD .group-48-r5b .sign-in-with-facebook-Pzd {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0810200146;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eahy-ghb .rectangle-29-Vnm {
  width: 53.6rem;
  height: 85.7rem;
  background-color: #444444;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD {
  box-sizing: border-box;
  padding: 2.9rem 5.6rem 2.6rem 5.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM {
  margin-right: 24.4rem;
  height: 10.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .rectangle-19-5W5 {
  margin: 0.1rem 27.1rem 0rem 0rem;
  width: 23.2rem;
  height: 7rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-bzyh-z7F {
  width: 11.8rem;
  height: 100%;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-bzyh-z7F .follow-us-Lgu {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-bzyh-z7F .auto-group-sksf-gEy {
  width: 100%;
  display: flex;
  align-items: center;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-bzyh-z7F .auto-group-sksf-gEy .rectangle-15-SE9 {
  margin-right: 2rem;
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-bzyh-z7F .auto-group-sksf-gEy .rectangle-16-NtV {
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-wqxd-udX {
  box-sizing: border-box;
  padding-left: 2rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-wqxd-udX .rectangle-17-rof {
  margin-right: 19.2rem;
  width: 4.9rem;
  height: 4.9rem;
  background-color: #6e6e6e;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-wqxd-udX .auto-group-fudz-QaH {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-wqxd-udX .auto-group-fudz-QaH .about-us-m9w {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-a78o-XzM .auto-group-wqxd-udX .auto-group-fudz-QaH .faq-hpH {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM {
  margin: 0rem 21.7rem 2.9rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .lorem-ipsum-dolor-sit-amet-consectetur-NvR {
  margin-right: 15.7rem;
  max-width: 34.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .auto-group-akjv-Dg9 {
  margin: 2rem 19.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .auto-group-akjv-Dg9 .call-us-Xgq {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .auto-group-akjv-Dg9 .item-085762382649-RGR {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .auto-group-jhud-Wof {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .auto-group-jhud-Wof .privacy-ShK {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-fefm-3NM .auto-group-jhud-Wof .contact-us-kxu {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .line-1-V9o {
  margin-bottom: 2.1rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-rohm-Ca1 {
  margin: 0rem 7.6rem 0rem 7.8rem;
  width: calc(100% - 15.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-rohm-Ca1 .lorem-ipsum-dolor-sit-amet-hmf {
  margin-right: 48.3rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-EHs .auto-group-eh9m-SCD .auto-group-rohm-Ca1 .lorem-ipsum-dolor-sit-amet-Dzu {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
