.section-title {
    margin-top: 100px;
}
.content {
    background-color: white;
    padding: 20px 100px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.content img{
    width: 35%;
    margin-bottom: 40px;   
}
.content p{
    font-size: 20px;
    text-align: justify;
}
#header {
    background-color: #3d4d6a;
}
.navbar {
    background-color: #3d4d6a;
}
.content ol{
    font-size: 20px;
}